body {
    margin: 0;
    padding: 0;
}

.toggle-menu {
    display: none;
}

.toggle-menu svg {
    width: 30px;
}

.main-menu ul li a:hover {
    background-color: black;
    color: goldenrod;
}

.totop {
    background-color: rgba(0, 0, 0, 0.5);
    width: 80px;
    height: 80px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    display: none;
}

.totop svg {
    color: #fff;
}



/* responsive */

@media (max-width:768px) {
    .header {
        flex-direction: column;
    }

    .logo {
        justify-items: center;
        margin-bottom: 31px;
    }

    .main-menu ul {
        justify-content: center;
    }

}


@media (max-width:460px) {
    .main-menu ul {
        display: none;
        flex-direction: column;
    }

    .main-menu ul li a {
        display: block;
    }

    .toggle-menu {
        text-align: right;
        display: block;
    }
}